{
  "swagger": "2.0",
  "info": {
    "title": "Azure Addons Resource Provider",
    "description": "The service for managing third party addons.",
    "version": "2024-01-01-preview"
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/providers/Microsoft.Addons/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "operationId": "Operations_List",
        "description": "Lists all of the available Addons RP operations.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "List all the operations.",
            "schema": {
              "$ref": "#/definitions/OperationListValue"
            }
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Addons/addonPlugins/{pluginName}": {
      "get": {
        "tags": [
          "AddonPlugins"
        ],
        "operationId": "AddonPlugins_Get",
        "description": "Gets an addon plugin resource.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "pluginName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the addon plugin."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddonPluginResource"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AddonPlugins"
        ],
        "operationId": "AddonPlugins_CreateOrUpdate",
        "description": "Creates or updates an addon plugin resource.",
        "parameters": [
          {
            "$ref": "#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/ResourceGroupParameter"
          },
          {
            "name": "pluginName",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "The name of the addon plugin."
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AddonPluginResource"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AddonPluginResource"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/AddonPluginResource"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "OperationListValue": {
      "description": "List of operations",
      "type": "object",
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/OperationValue"
          }
        }
      }
    },
    "OperationValue": {
      "description": "Describes an operation",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the operation",
          "type": "string"
        }
      }
    },
    "AddonPluginResource": {
      "description": "An addon plugin resource.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/Resource"
        }
      ],
      "properties": {
        "properties": {
          "$ref": "#/definitions/AddonPluginProperties"
        }
      }
    },
    "AddonPluginProperties": {
      "description": "Addon plugin properties.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name of the plugin.",
          "type": "string"
        },
        "provisioningState": {
          "description": "The provisioning state.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "description": "ARM resource.",
      "type": "object",
      "properties": {
        "id": {
          "description": "Resource ID.",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Resource name.",
          "type": "string",
          "readOnly": true
        },
        "type": {
          "description": "Resource type.",
          "type": "string",
          "readOnly": true
        }
      },
      "x-ms-azure-resource": true
    }
  },
  "parameters": {
    "ApiVersionParameter": {
      "name": "api-version",
      "in": "query",
      "required": true,
      "type": "string",
      "description": "Client API version."
    },
    "SubscriptionIdParameter": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Subscription credentials that uniquely identify the Microsoft Azure subscription."
    },
    "ResourceGroupParameter": {
      "name": "resourceGroupName",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "The name of the resource group."
    }
  }
}
